<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/970799af-5779-425a-9a25-b7e8ba22b435/resourcegroups/Moikka/providers/Microsoft.Web/sites/VartasAssignment</ResourceId>
    <ResourceGroup>Moikka</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vartasassignment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vartasassignment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VartasAssignment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VartasAssignment</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GameDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vartasassignmentdbserver.database.windows.net,1433;Initial Catalog=VartasAssignment_db;Persist Security Info=False;User ID=Joonas;Password=NEEla123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:vartasassignmentdbserver.database.windows.net,1433;Initial Catalog=VartasAssignment_db;Persist Security Info=False;User ID=Joonas;Password=NEEla123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VartasAssignment.Models.GameDBContext, VartasAssignment" MigrationConfiguration="VartasAssignment.Migrations.Configuration, VartasAssignment" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GameDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vartasassignmentdbserver.database.windows.net,1433;Initial Catalog=VartasAssignment_db;Persist Security Info=False;User ID=Joonas;Password=NEEla123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>