
@{
    ViewBag.Title = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VartasAssignment.Models.Story

<h2>Sinun tarinasi</h2>

@{
    var story = Model.createStory();
    var color = Model.Color;
    var FontSize = Model.Color;
}

    <div style="margin-top: 2em">
        <p style="color:@color;font-size:@FontSize"> @story </p>
    </div>
